@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center py-5">
    <h1 class="display-4">Welcome to Event Manager</h1>
    <p class="lead">Organize and manage your events with ease</p>
    
    @if (User.Identity?.IsAuthenticated == true)
    {
        <p class="mt-4">
            <a class="btn btn-primary btn-lg" asp-controller="Events" asp-action="Index">View My Events</a>
            <a class="btn btn-success btn-lg ms-2" asp-controller="Events" asp-action="Create">Create New Event</a>
        </p>
    }
    else
    {
        <p class="mt-4">
            <a class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Login">Login</a>
            <a class="btn btn-success btn-lg ms-2" asp-controller="Account" asp-action="Register">Register</a>
        </p>
    }
</div>
